*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    background-color:rebeccapurple;
    width: 650px;
    height:650px;
    margin-left:200px;

}
.chessboxblack{
    background: white;
    border: 1px  solid  black;
    font-size: 40px;
    text-shadow: 2px 2px white;
    text-align: center;
}
.chessboxwhite{
    background-color: black;
    border: 1px solid black;
    font-size: 40px;
    text-shadow: 2px 2px white;
    text-align: center;
}

.peaky, .tristian,.chad,.andrew,.patrick,.giphy{
    height:70px;
    width:70px;
    border-radius: 50%;
    margin-left:5px;
    margin-top: 5px;
}
.bigchesscontainer{
    display: flex;
    justify-content: center;
}
.containerheading{
    height:400px;
    width:400px;
    background-color: aqua;
    color:red;
    

}
.heading{
    margin-left: 50px;;
}
.instructions{
    margin-top: 20px;
    margin-left: 120px;;
}
li{
    margin-left: 100px;
    margin-top: 30px;;
} 